# Terraform specific files
*.tfstate
*.tfstate.*
*.tfvars
terraform.tfvars
*.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/.terraform/*
.terraform.lock.hcl

# CLI configuration files
.terraformrc
terraform.rc

# Sensitive files
*.pem
*.key

# AWS credentials
/.aws/*

# Ignore logs
*.log
crash.log

# Keep AMI logs and history
!terraform/environments/
!terraform/environments/dev/
!terraform/environments/dev/ami_history/
!terraform/environments/dev/ami_history/logs/
!terraform/environments/dev/ami_history/logs/*.log
!terraform/environments/dev/ami_history/ami_id.txt

# Python virtual environment
.venv/

# Lambda build artifacts and deployment packages
/terraform/modules/lambda_layer/build/
/terraform/modules/lambda_layer/layer.zip
/terraform/modules/lambda_layer/.terraform/
/terraform/modules/lambda_images/lambda_deployment_package.zip
